<% if @user.errors.any? %>
  <p>Form contains <%= pluralize(@user.errors.count, 'error') %></p>
  <ul>
    <% @user.errors.full_messages.each do |v| %>
      <li><%= v %></li>
    <% end %>
  </ul>
<% end %>
